@{
    ViewBag.Title = "Deal Information";
}

<div class="col-md-12" align="center">
    <img src="~/Images/clevalogo.jpg" alt="Mountain View" style="width:1000px;height:300px;">
</div>
    
    


<div class="row" align="center">
    <div class="col-md-6">
        <h3>About the Deal</h3>
        <p>Enjoy a delicious start to the day by plating up with two rashers and two sausages, culinaryminded customers can chew their Full Irish Breakfast with a delicious voyage through fried eggs, black and white pudding, grilled tomatoes, fried mushrooms and toast</p>
        <p>Available between 9am and 12pm</p>
        <p>One per person - please phone ahead for large groups</p>
        <p>This deal expires at 12pm on 24-12-16</p>


    </div>
    <div class="col-md-6">

        <p><img src="~/Images/breakfast.jpg" alt="Mountain View" style="width:304px;height:228px;"></p>


    </div>
    <div class="col-md-6">
        
        
        <h3>Where to Find Us:</h3>
        <img src="~/Images/map.jpg" alt="Mountain View" style="width:334px;height:258px;">
    </div>
    <div class="col-md-6">

        <h3>About the Provider</h3>
        <p>Hungry House has been providing delicious food for over 10 years from our centrally located family run business in Dublin </p>
        <p>Address:</p>
        <p>21 Pearse Street</p>
        <p>Dublin 1</p>
        <p>Phone: 01 3434556 </p>
        <p>Email: info@hungrybites.com</p>
       

    </div>

    

</div>
